<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ndc adapter</title>
</head>
<body>
<h1>NDC Adapter Web Service List</h1>

<h2>NDC v15.2</h2>
<ul th:each="wsdlUrl : ${v152WsdlList}">
    <a th:href="${wsdlUrl}" th:text="${wsdlUrl}"></a> <br>
</ul>

<h2>NDC v16.1</h2>
<ul th:each="wsdlUrl : ${v161WsdlList}">
    <a th:href="${wsdlUrl}" th:text="${wsdlUrl}"></a> <br>
</ul>

<h2>NDC v16.2</h2>
<ul th:each="wsdlUrl : ${v162WsdlList}">
    <a th:href="${wsdlUrl}" th:text="${wsdlUrl}"></a> <br>
</ul>

<h2>NDC v17.1</h2>
<ul th:each="wsdlUrl : ${v171WsdlList}">
    <a th:href="${wsdlUrl}" th:text="${wsdlUrl}"></a> <br>
</ul>

<h2>NDC v17.2</h2>
<ul th:each="wsdlUrl : ${v172WsdlList}">
    <a th:href="${wsdlUrl}" th:text="${wsdlUrl}"></a> <br>
</ul>

<h2>NDC v18.1</h2>
<ul th:each="wsdlUrl : ${v181WsdlList}">
    <a th:href="${wsdlUrl}" th:text="${wsdlUrl}"></a> <br>
</ul>

<h2>NDC v18.2</h2>
<ul th:each="wsdlUrl : ${v182WsdlList}">
    <a th:href="${wsdlUrl}" th:text="${wsdlUrl}"></a> <br>
</ul>

</body>
</html>
